table, th, td {
  border: 1px solid;
  padding: 20px 50px ;
  text-align: center;
}
table {
  border-collapse: collapse;
  // position: absolute;
  // top: 50%;
  // left: 30%;
  // transform: translate(-50%, -50%);
  margin-top: 30px;
  margin: auto;
}
.button__lambai {
  text-decoration: none;
}
th {
  font-size: 20px;
}